@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    text-align: center;
    padding-bottom: 30px;
}

#rslt {
    height: 60px;
}

.button-area {
    width: fit-content;
    margin: 0 auto;
}

button {
    border: none;
    background: none;
}

i {
    font-size: 10vw;
    color: black;
}

.score-area {
    padding-top: 30px;
}

footer {
    position: absolute;
    width: 100%;
}

@media screen and (min-width: 740px) {
    
    .result-area {
        width: 75%;
        margin: 0 auto;
    }

    .button-area {
        width: 75%;
        margin: 0 auto;
    }

    .score-area {
        width: 75%;
        margin: 0 auto;
    }

    .rules {
        width: 75%;
        margin: 0 auto;
    }

    
}